@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400&display=swap');

$font-unique: "Roboto Mono", monospace; 
$font-stack: "Montserrat", sans-serif; 
$primary-color: #0A192F;
$secondary-color: #41FBDA;
$font-primary-color: #c2c2c2; 