/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 600px){

    // Social media fix icon
    .social-media-icon{
        display: none;
    }

    // Nav

    // Hero
    .hero{
        text-align: left;
        justify-content: center;
        align-items: flex-start;
        h5{
            font-size: .9em;
            font-weight: normal;
        }
        h1{
            font-size: 2.6em;
        }
    }

    // About
    #about{
        .about-info{
            width: 100%;
            margin-bottom: 2em;
            h3{
                font-size: 1.6em;
            }
            p{
                font-size: 1em;
                line-height: 1.5em;
            }
        }
        .about-image{
            width: 100%;
            margin-top: 1em;
            text-align: center;
            img{
                width: 70%;
            }
        }
    }

    // Work
    #work{
        .project-wrap{
            margin-bottom: 3em;
            .image-project{
                width: 100%;
            }
            .info-project{
                width: 100%;
                position: relative;
                text-align: center;
                padding: 2em;
                .desc-project{
                    background: none;
                    font-size: 1em;
                    line-height: 1.5em;
                }
                .tech-use{
                    width: 100%;
                    justify-content: center;
                    margin-bottom: 0;
                }
                .project-source{
                    justify-content: center;
                    padding: 1.5em 0;
                    a{
                        font-size: 2em;
                    }
                }
            }
        }
    }

    // Noteworthy Projects
    #noteworthy-project{
        .project-container{
            .project-box{
                width: 100%;
                .noteworthy-project-link{
                    .source-icon-wrap{
                        i{
                            font-size: 1.6em;
                        }
                    }
                }
            }
        }
    }
    // Featured Projects (Youtube)
    #featured-project{
        .featured-project-info{
            padding: 0;
            margin: 3em 0;
            .featured-project-title{
                text-align: left;
            }
            h2{
                text-align: left;
            }
            .youtube-info{
                text-align: left;
            }
        }
    }

    // Contact
    #contact{
        .social-media-contact{
            margin-top: 2em;
            li{
                list-style: none;
                margin: 0 1em;
                i{
                    font-size: 1.6em;
                    color: $font-primary-color;
                    transition: .3s ease-in;
                }
                i:hover{
                    color: $secondary-color;
                    transform: translateY(-.2em);
                }
            }
        }
    }

}