/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 678px) {
  nav {
    .nav-links {
      .nav-links-wrap {
        li {
          font-size: 0.9em;
        }
      }
    }
  }

  .hero {
    h5 {
      font-size: 0.9em;
      font-weight: normal;
    }
    h1 {
      font-size: 1.6em;
    }
  }

  #about {
    .about-wrapper {
      grid-template-columns: 1fr;
      .about-info {
        width: 100%;
        margin-bottom: 2em;
      }
      .about-image {
        width: 100%;
        text-align: center;
        img {
          width: 50%;
          margin: 0 auto;
        }
      }
    }
  }

  #work {
    .project-wrap {
      .image-project {
        width: 100%;
      }
      .info-project {
        width: 100%;
        position: relative;
        text-align: center;
        padding: 18px;
        h5 {
          margin-bottom: 0;
        }
        .desc-project {
          background: none;
          margin-bottom: 0;
        }
        .tech-use {
          width: 100%;
          justify-content: center;
          margin-bottom: 7px;
        }
        .project-source {
          justify-content: center;
          a {
            font-size: 2em;
          }
        }
      }
    }
  }

  #noteworthy-project {
    .project-container {
      grid-template-columns: 1fr;
    }
  }

  #featured-project {
    .video-wrapper {
      width: 100%;
    }
  }

  #contact {
    .social-media-contact {
      margin-top: 2em;
      li {
        list-style: none;
        margin: 0 1em;
        i {
          font-size: 1.6em;
          color: $font-primary-color;
          transition: 0.3s ease-in;
        }
        i:hover {
          color: $secondary-color;
          transform: translateY(-0.2em);
        }
      }
    }
  }
}
