@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: #41FBDA;
  color: #000000;
}

body {
  font-family: "Fira sans", sans-serif;
  background-color: #0A192F;
  color: #a8b2d1;
  overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none;
}

.social-media-icon {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 5%;
  align-items: center;
}

.social-media-icon li {
  list-style: none;
  margin: 1em 0;
}

.social-media-icon li i {
  font-size: 1.2em;
  color: #a8b2d1;
  transition: .3s ease-in;
}

.social-media-icon li i:hover {
  color: #41FBDA;
  transform: translateY(-0.2em);
}

.social-media-icon .standing-line-left {
  height: 7em;
  width: 2px;
  background-color: #a8b2d1;
}

.social-media-icon .last-icon {
  margin-bottom: 3em;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1em 5%;
  align-items: center;
}

nav .logo {
  width: 4em;
  height: 4em;
}

nav .logo img {
  width: 100%;
  height: 100%;
}

nav .nav-links .nav-links-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
  font-size: .9em;
}

nav .nav-links .nav-links-wrap li {
  list-style: none;
  margin: 0  15px;
}

nav .nav-links .nav-links-wrap li a:hover {
  color: #41FBDA;
}

nav .nav-links .nav-links-wrap li a {
  color: #cecece;
}

nav .nav-links .nav-links-wrap li a span {
  color: #41FBDA;
}

nav .nav-links .nav-links-wrap li button a {
  color: #41FBDA;
}

nav .burger {
  display: none;
}

nav .burger div {
  width: 25px;
  height: 3px;
  background-color: #41FBDA;
  margin: 5px;
  transition: all 0.3s;
}

@media screen and (max-width: 950px) {
  nav .nav-links {
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: #172A45;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
    z-index: 9;
  }
  nav .nav-links .nav-links-wrap {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  nav .nav-links .nav-links-wrap li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1em;
  }
  nav .nav-links .nav-links-wrap li a .number-nav {
    font-size: .9em;
  }
  nav .burger {
    display: block;
    cursor: pointer;
    z-index: 99;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

nav .nav-active {
  transform: translateX(0%);
}

nav .toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

nav .toggle .line2 {
  opacity: 0;
}

nav .toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.hero h5 {
  font-family: "Roboto Mono", monospace;
  color: #41FBDA;
  margin-bottom: 10px;
  font-size: 1em;
}

.hero h1 {
  color: #d3d3d3;
  font-family: "Fira sans", sans-serif;
  font-size: 4em;
  margin-bottom: .5em;
}

.hero h1 span {
  color: #a8b2d1;
}

.hero p {
  font-family: "Fira sans", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

#about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100vh;
}

#about .about-info {
  width: 50%;
  padding: 0 10px;
}

#about .about-info h3 {
  font-size: 1.8em;
  font-weight: bold;
  color: #d3d3d3;
  margin-bottom: 40px;
}

#about .about-info h3 span {
  color: #41FBDA;
  font-family: "Roboto Mono", monospace;
}

#about .about-info p {
  font-size: 1.05em;
  line-height: 1.6em;
  margin: 20px 0;
}

#about .about-info .about-tech-usage {
  display: flex;
}

#about .about-info .about-tech-usage ul {
  width: 50%;
  padding: 1em;
}

#about .about-info .about-tech-usage ul li {
  font-family: "Roboto Mono", monospace;
  font-size: .9em;
}

#about .about-image {
  width: 50%;
  text-align: right;
  position: relative;
}

#about .about-image img {
  width: 60%;
}

#work {
  padding: 3em 0;
}

#work h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: #d3d3d3;
  margin-bottom: 2em;
}

#work h3 span {
  color: #41FBDA;
  font-family: "Roboto Mono", monospace;
}

#work .project-wrap {
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-bottom: 7em;
}

#work .project-wrap .image-project {
  width: 55%;
  min-height: 22em;
}

#work .project-wrap .image-project img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#work .project-wrap .info-project {
  position: absolute;
  right: 0;
  top: 0;
  min-height: 100%;
  width: 55%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#work .project-wrap .info-project h5 {
  font-size: 1.5em;
  margin-bottom: .5em;
  color: #d3d3d3;
}

#work .project-wrap .info-project .desc-project {
  background: #172A45;
  font-family: "Fira sans", sans-serif;
  padding: 1.2em;
  margin-bottom: 1em;
  border-radius: .1em;
  font-size: .9em;
  line-height: 1.6em;
}

#work .project-wrap .info-project .tech-use {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  float: right;
  font-family: "Roboto Mono", monospace;
  font-size: .9em;
  margin-bottom: 1em;
  color: #41FBDA;
  align-self: flex-end;
}

#work .project-wrap .info-project .tech-use p {
  margin: 0 1em;
  line-height: 1.7em;
  font-weight: bold;
}

#work .project-wrap .info-project .project-source {
  display: flex;
  justify-content: flex-end;
}

#work .project-wrap .info-project .project-source a {
  color: #a8b2d1;
  font-size: 1.5em;
  margin: 0 .5em;
}

#work .project-wrap .info-project .project-source a:hover {
  color: #41FBDA;
}

#work .right-image {
  flex-direction: row-reverse;
}

#work .right-image .info-project {
  left: 0;
  text-align: left;
}

#work .right-image .info-project .tech-use {
  width: 70%;
  align-self: flex-start;
  justify-content: flex-start;
}

#work .right-image .info-project .project-source {
  justify-content: flex-start;
}

#noteworthy-project {
  padding: 3em 0;
}

#noteworthy-project h4 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: .5em;
  color: #d3d3d3;
}

#noteworthy-project h6 {
  text-align: center;
  margin-bottom: 3em;
}

#noteworthy-project h6 a {
  font-size: 1.3em;
  font-family: "Roboto Mono", monospace;
  color: #41FBDA;
  font-style: normal;
  text-decoration: underline;
}

#noteworthy-project h6 a:hover {
  text-decoration: none;
  color: #4adfc3;
}

#noteworthy-project .project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#noteworthy-project .project-container .project-box {
  width: 32%;
  padding: 3em 1.7em;
  background-color: #172A45;
  transition: .2s ease-in;
  margin: 1em 0;
}

#noteworthy-project .project-container .project-box .noteworthy-project-link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

#noteworthy-project .project-container .project-box .noteworthy-project-link i {
  color: #41FBDA;
  font-size: 2.5em;
}

#noteworthy-project .project-container .project-box .noteworthy-project-link .source-icon-wrap {
  display: flex;
}

#noteworthy-project .project-container .project-box .noteworthy-project-link .source-icon-wrap i {
  color: #a8b2d1;
  font-size: 1.2em;
  margin-left: .7em;
}

#noteworthy-project .project-container .project-box .noteworthy-project-link .source-icon-wrap i:hover {
  color: #41FBDA;
}

#noteworthy-project .project-container .project-box .noteworthy-project-title {
  margin-bottom: 1em;
}

#noteworthy-project .project-container .project-box .noteworthy-project-title a {
  font-size: 1.3em;
  color: #d3d3d3;
  font-weight: 500;
}

#noteworthy-project .project-container .project-box p {
  font-size: .9em;
  line-height: 1.5em;
  margin-bottom: 3em;
}

#noteworthy-project .project-container .project-box ul {
  display: flex;
  flex-wrap: wrap;
}

#noteworthy-project .project-container .project-box ul li {
  list-style: none;
  font-family: "Roboto Mono", monospace;
  color: #7180aa;
  font-size: .8em;
  margin: 0 .5em;
}

#noteworthy-project .project-container .project-box:hover {
  transform: translateY(-2%);
  box-shadow: 2px 9px 25px -2px rgba(0, 0, 0, 0.69);
}

#featured-project {
  padding: 6em 0;
}

#featured-project .video-wrapper {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}

#featured-project .video-wrapper .featured-project-title {
  font-family: "Roboto Mono", monospace;
  font-size: .9em;
  margin-bottom: 1em;
  color: #41FBDA;
}

#featured-project .video-wrapper .featured-project-title span {
  color: #41FBDA;
}

#featured-project .video-wrapper h2 {
  color: #d3d3d3;
  font-size: 2em;
  margin-bottom: 1em;
}

#featured-project .video-wrapper iframe {
  border: none;
  width: 80%;
  height: 450px;
}

#featured-project .featured-project-info {
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
}

#featured-project .featured-project-info .youtube-info {
  font-size: 1em;
  line-height: 1.7em;
}

#featured-project .featured-project-info .youtube-info .tech-youtube-use {
  font-family: "Roboto Mono", monospace;
  font-size: 1em;
  margin: 2em 0;
  color: #7180aa;
}

#featured-project .featured-project-info .youtube-info ul li {
  font-size: .9em;
  font-family: "Roboto Mono", monospace;
}

#contact {
  text-align: center;
  padding: 4em 0;
}

#contact .contact-little-title {
  font-family: "Roboto Mono", monospace;
  color: #41FBDA;
  font-size: 1em;
  margin-bottom: .8em;
}

#contact .contact-big-title {
  color: #d3d3d3;
  font-size: 3em;
  margin-bottom: .6em;
}

#contact .contact-info {
  width: 60%;
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.6em;
}

#contact .social-media-contact {
  display: none;
}

footer {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  color: #a8b2d1;
  font-size: .9em;
  padding: 3em;
  position: absolute;
  bottom: 0;
  left: 0;
}

footer i {
  animation: fa-beat 3s ease infinite;
  color: #41FBDA;
}

@keyframes fa-beat {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1);
  }
  45% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
}

#archive {
  min-height: 100vh;
  padding: 5em 0;
}

#archive .archive-title {
  font-size: 3em;
  font-weight: bold;
  color: #d3d3d3;
  margin-bottom: .2em;
  padding: .5em;
}

#archive .archive-title .archive-sub-title {
  font-size: .3em;
  font-family: "Roboto Mono", monospace;
  color: #41FBDA;
  font-weight: normal;
}

#archive table {
  width: 100%;
  text-align: left;
}

#archive table th {
  color: #a8b2d1;
  font-size: 1.1em;
  font-weight: 500;
  padding: 1.6em 1em;
}

#archive table td {
  padding: 1em;
}

#archive table .year {
  color: #41FBDA;
  font-family: "Roboto Mono", monospace;
}

#archive table .archive-project-title a {
  color: #d3d3d3;
  font-weight: 700;
  font-size: 1.1em;
  line-height: 1.7em;
}

#archive table .archive-project-title a:hover {
  color: #a8b2d1;
}

#archive table .archive-built-with ul {
  display: flex;
}

#archive table .archive-built-with ul li {
  list-style: none;
  margin-right: 1.2em;
  font-family: "Roboto Mono", monospace;
  font-size: .9em;
}

#archive table .archive-link a i {
  font-size: 1.5em;
  color: #a8b2d1;
  margin-right: .5em;
}

#archive table .archive-link a i:hover {
  color: #41FBDA;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 950px) {
  nav .logo {
    width: 3.5em;
    height: 3.5em;
  }
  .hero h1 {
    font-size: 3em;
  }
  #about .about-image img {
    width: 80%;
  }
  #noteworthy-project .project-container .project-box {
    width: 49%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .social-media-icon {
    display: none;
  }
  nav .logo {
    width: 3em;
    height: 3em;
  }
  .hero {
    min-height: 100vh;
  }
  .hero h1 {
    font-size: 2.8em;
  }
  #about {
    margin-bottom: 5em;
  }
  #about .about-info {
    width: 100%;
    margin-bottom: 2em;
  }
  #about .about-image {
    width: 100%;
    text-align: center;
  }
  #about .about-image img {
    width: 40%;
  }
  #work {
    padding-top: 2em;
  }
  #work h3 {
    margin-bottom: 2em;
    font-size: 1.4em;
  }
  #noteworthy-project .project-container .project-box {
    width: 49%;
  }
  #featured-project {
    margin-top: 1em;
    padding: 4em 0;
  }
  #featured-project .video-wrapper {
    width: 100%;
    margin-bottom: 1em;
  }
  #featured-project .video-wrapper .featured-project-title {
    text-align: center;
  }
  #featured-project .video-wrapper h2 {
    font-size: 1.8em;
    text-align: center;
  }
  #featured-project .video-wrapper iframe {
    width: 100%;
    height: 300px;
  }
  #featured-project .featured-project-info {
    width: 100%;
  }
  #featured-project .featured-project-info .youtube-info {
    text-align: center;
    font-size: 1em;
    line-height: 1.6em;
  }
  #featured-project .featured-project-info .youtube-info .see-channel {
    margin: 0 auto;
  }
  #featured-project .featured-project-info .youtube-info .tech-youtube-use {
    font-size: .9em;
  }
  #contact .contact-info {
    width: 100%;
  }
  #contact .social-media-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
  }
  #contact .social-media-contact li {
    list-style: none;
    margin: 0 1em;
  }
  #contact .social-media-contact li i {
    font-size: 2em;
    color: #a8b2d1;
    transition: .3s ease-in;
  }
  #contact .social-media-contact li i:hover {
    color: #41FBDA;
    transform: translateY(-0.2em);
  }
  footer {
    font-size: .8em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 600px) {
  .social-media-icon {
    display: none;
  }
  .hero {
    text-align: left;
    justify-content: center;
    align-items: flex-start;
  }
  .hero h5 {
    font-size: .9em;
    font-weight: normal;
  }
  .hero h1 {
    font-size: 2.6em;
  }
  #about .about-info {
    width: 100%;
    margin-bottom: 2em;
  }
  #about .about-info h3 {
    font-size: 1.6em;
  }
  #about .about-info p {
    font-size: 1em;
    line-height: 1.5em;
  }
  #about .about-image {
    width: 100%;
    margin-top: 1em;
    text-align: center;
  }
  #about .about-image img {
    width: 70%;
  }
  #work .project-wrap {
    margin-bottom: 3em;
  }
  #work .project-wrap .image-project {
    width: 100%;
  }
  #work .project-wrap .info-project {
    width: 100%;
    position: relative;
    text-align: center;
    padding: 2em;
  }
  #work .project-wrap .info-project .desc-project {
    background: none;
    font-size: 1em;
    line-height: 1.5em;
  }
  #work .project-wrap .info-project .tech-use {
    width: 100%;
    justify-content: center;
    margin-bottom: 0;
  }
  #work .project-wrap .info-project .project-source {
    justify-content: center;
    padding: 1.5em 0;
  }
  #work .project-wrap .info-project .project-source a {
    font-size: 2em;
  }
  #noteworthy-project .project-container .project-box {
    width: 100%;
  }
  #noteworthy-project .project-container .project-box .noteworthy-project-link .source-icon-wrap i {
    font-size: 1.6em;
  }
  #featured-project .featured-project-info {
    padding: 0;
    margin: 1em 0;
  }
  #contact .social-media-contact {
    margin-top: 2em;
  }
  #contact .social-media-contact li {
    list-style: none;
    margin: 0 1em;
  }
  #contact .social-media-contact li i {
    font-size: 1.6em;
    color: #a8b2d1;
    transition: .3s ease-in;
  }
  #contact .social-media-contact li i:hover {
    color: #41FBDA;
    transform: translateY(-0.2em);
  }
}

.container {
  width: 75%;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 85%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 85%;
    margin: 0 auto;
  }
}

.primary-button, .primary-button-hover-2 {
  font-family: "Roboto Mono", monospace;
  padding: 1em 3em;
  font-size: .9em;
  background: transparent;
  border: 2px solid #41FBDA;
  color: #41FBDA;
  cursor: pointer;
  margin: 4em auto;
  border-radius: .2em;
  overflow: hidden;
  position: relative;
  font-weight: bold;
  transition: .2s;
  outline: none;
}

.primary-button:hover {
  cursor: pointer;
  border: 2px solid #41FBDA;
  color: #000;
}

.primary-button-hover-2:hover, .btn-resume:hover {
  background-color: #10293B;
}

.primary-button .round {
  border-radius: 50%;
  background-color: #41FBDA;
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: -1;
  animation: scale-down 0.9s forwards;
}

.primary-button.animate .round {
  animation: scale-up .9s forwards;
}

@keyframes scale-up {
  to {
    transform: scale(600);
  }
}

@keyframes scale-down {
  from {
    transform: scale(600);
  }
  to {
    ransform: scale(0);
  }
}

.btn-resume {
  font-family: "Roboto Mono", monospace;
  padding: .7em 2.3em;
  font-size: .9em;
  font-weight: 500;
  background: transparent;
  border: 2px solid #41FBDA;
  color: #41FBDA;
  cursor: pointer;
  border-radius: .2em;
  outline: none;
}

.btn-resume a {
  color: #41FBDA;
}

.float-right {
  float: right;
}

.m-1 {
  margin: 1em;
}

.text-right {
  text-align: right;
}
/*# sourceMappingURL=style.css.map */