@import 'config';

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	font-family: $font-stack;
	background-color: $primary-color;
	color: $font-primary-color;
}
a{
	text-decoration: none;
}

//Social Media icon
.social-media-icon{
	display: flex;
	flex-direction: column;
	position: fixed;
	bottom: 0;
	left: 5%;
	align-items: center;
	li{
		list-style: none;
		margin: 1em 0;
		i{
			font-size: 1.2em;
			color: $font-primary-color;
			transition: .3s ease-in;
		}
		i:hover{
			color: $secondary-color;
			transform: translateY(-.2em);
		}
	}
	.standing-line-left{
		height: 7em;
		width: 2px;
		background-color: $font-primary-color;
	}
	.last-icon{
		margin-bottom: 3em;
	}
}

// Navbar
nav{
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 1% 5%;
	align-items: center;

	.logo{
			width: 60px;
			height: 60px;
			// background-color: black;

			img{
					width: 100%;
					height: 100%;
			}
	}

	.navbar{
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: $font-unique;
			font-size: 14px;

			li{
					list-style: none;
					margin: 0  15px;
					a:hover{
						color: $secondary-color;
					}
					a{
						color: #cecece;
							span{
									color: $secondary-color;
							}
					}
			}
	}
}

// Hero
.hero{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	// background-color: maroon;
	h5{
		font-family: $font-unique;
		color: $secondary-color;
		margin-bottom: 10px;
		font-size: 1em;
	}
	h1{
		color: $light-font-color;
		font-family: $font-stack;
		font-size: 4em;
		margin-bottom: 30px;
		span{
			color: $font-primary-color;
		}
	}
	p{
		font-family: $font-stack;
		font-size: 1em;
		margin-bottom: 50px;
		line-height: 1.5em;
	}
}

// About
#about{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	min-height: 100vh;
	.about-info{
		width: 50%;
		padding: 0 10px;
		// background: #000000;
		h3{
			font-size: 1.5em;
			font-weight: bold;
			color: $light-font-color;
			margin-bottom: 40px;
			span{
				color: $secondary-color;
				font-family: $font-unique;
			}
		}
		p{
			font-size: .95em;
			line-height: 1.5em;
			margin: 20px 0;
		}
		.about-tech-usage{
			display: flex;
			ul{
				width: 50%;
				padding: 1em;
				li{
					font-family: $font-unique;
					font-size: .9em;
				}
			}
		}
	}
	.about-image{
		width: 50%;
		text-align: right;
		img{
			width: 60%;
		}
	}
	
}

//Work Showcase
#work{
	padding: 5em 0;
	h3{
		font-size: 1.5em;
		font-weight: bold;
		color: $light-font-color;
		margin-bottom: 2em;
		span{
			color: $secondary-color;
			font-family: $font-unique;
		}
	}
	.project-wrap{
		width: 100%;
		display: flex;
		position: relative;
		flex-wrap: wrap;
		margin-bottom: 7em;
		.image-project{
			width: 55%;
			min-height: 22em;
			img{
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		.info-project{
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			// background: maroon;
			width: 55%;
			text-align: right;
			display: flex;
			flex-direction: column;
			justify-content: center;
			h5{
				font-size: 1.5em;
				margin-bottom: .5em;
				color: $light-font-color;
			}
			.desc-project{
				background: #172A45;
				font-family: $font-stack;
				padding: 1.2em;
				margin-bottom: 1em;
				border-radius: .1em;
				font-size: .9em;
				line-height: 1.5em;
			}
			.tech-use{
				display: flex;
				justify-content: flex-end;
				font-family: $font-unique;
				font-size: .9em;
				margin-bottom: 1em;
				color: $secondary-color;
				p{
					margin: 0 1em;
					font-weight: bold;
				}
			}
			.project-source{
				display: flex;
				justify-content: flex-end;
				a{
					color: $font-primary-color;
					font-size: 1.5em;
					margin: 0 .5em;
				}
			}
		}
	}
	.right-image{
		flex-direction: row-reverse;
		.info-project{
			left: 0;
			text-align: left;
			.tech-use{
				justify-content: flex-start;
			}
			.project-source{
				justify-content: flex-start;
			}
		}
	}
	
}

// Noteworthy Work Projects
#noteworthy-project{
	padding: 5em 0;
	h4{
		text-align: center;
		font-size: 1.5em;
		margin-bottom: .5em;
		color: $light-font-color;
	}
	h6{
		text-align: center;
		margin-bottom: 3em;
		a{
			font-size: 1.3em;
			font-family: $font-unique;
			color: $secondary-color;
			font-style: normal;
			text-decoration: underline;
		}
		a:hover{
			text-decoration: none;
			color: #4adfc3;
		}
	}
	.project-container{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.project-box{
			width: 32%;
			padding: 3em 1.7em;
			background-color: #172A45;
			transition: .2s ease-in;
			margin: 1em 0;
			.noteworthy-project-link{
				display: flex;
				justify-content: space-between;
				margin-bottom: 2em;
				i{
					color: $secondary-color;
					font-size: 2.5em;
				}
				.source-icon-wrap{
					display: flex;
					i{
						color: $font-primary-color;
						font-size: 1.2em;
						margin-left: .7em;
					}
					i:hover{
						color: $secondary-color
					}
				}
			}
			.noteworthy-project-title{
				margin-bottom: 1em;
				a{
					font-size: 1.3em;
					color: $light-font-color;
					font-weight: 500;
				}
			}
			p{
				font-size: .9em;
				line-height: 1.5em;
				margin-bottom: 3em;
			}
			ul{
				display: inline-flex;
				li{
					list-style: none;
					font-family: $font-unique;
					color: $darker-font-primary-color;
					font-size: .8em;
					margin: 0 .5em;
				}
			}
		}
		.project-box:hover{
			transform: translateY(-2%);
			-webkit-box-shadow: 2px 9px 25px -2px rgba(0,0,0,0.69);
			-moz-box-shadow: 2px 9px 25px -2px rgba(0,0,0,0.69);
			box-shadow: 2px 9px 25px -2px rgba(0,0,0,0.69);
		}
	}
}

// Contact 
#contact{
	text-align: center;
	padding: 4em 0;
	.contact-little-title{
		font-family: $font-unique;
		color: $secondary-color;
		font-size: 1em;
		margin-bottom: .8em;
		
	}
	.contact-big-title{
		color: $light-font-color;
		font-size: 3em;
		margin-bottom: .6em;
	}
	.contact-info{
		width: 60%;
		margin: 0 auto;
		font-size: 1em;
		line-height: 1.4em;
	}
}

// Footer
footer{
	text-align: center;
	font-family: $font-unique;
	color: $font-primary-color;
	font-size: .9em;
	padding: 3em;
	i{
		animation: fa-beat 3s ease infinite;
		color: $secondary-color;
	}
	@keyframes fa-beat {
		0% {
		  transform:scale(1);
		}
		9% {
		  transform:scale(1.15);
		}
		18% {
		  transform:scale(1);
		}
		17% {
		  transform:scale(1);
		}
		36% {
		  transform:scale(1.15);
		}
		45% {
		  transform:scale(1);
		}
		54% {
		  transform:scale(1.15);
		}
		65% {
		  transform:scale(1);
		}
		73%{
			transform: scale(1.15);
		}
		82%{
			transform: scale(1);
		}
		91%{
			transform: scale(1.15);
		}
	  }
}

@import 'tablet';
@import 'mobile';
@import 'utilities';